*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
build/
_run.py

# for virtualenv
lib
include
bin
share
pip-selfcheck.json

cmd
do_tests.sh
ml_sample/
sample_project
remove_sample.sh
tests/
update_package.sh

*.db
man
